<h1 class="my-0">
  <%= post.title %>
</h1>

<span class="text-muted">
  <%= post.date %>
</span>

<div class="my-3">
  <%- post.teaser %>
</div>

<div class="mb-4">
  <a href="<%= post.uri %>">Read more...</a>
</div>
